<article class="collection">
  <h3>Lista de coisas disponíveis</h3>

  <section class="items">

    <article class="item" *ngFor="let item of items">

      <div class="item-container">
        <div class="portrait">
          <img src="{{item.image}}">
        </div>
        <h4>{{item.title}}</h4>
        <div class="description">{{item.description}}</div>
        <div class="price">{{item.price | currency:'BRL':'symbol':undefined:'pt-BR'}}</div>
        <button>Reservar</button>
      </div>

    </article>

  </section>

</article>
